<admin-app-nav></admin-app-nav>


<body class="content" style="padding-bottom: 20%;">
<br><br>
<div class="container" style="padding-top: 20px; border: solid">
  <div class="modal-header bg-secondary" style=" padding-top: 10px">
    <h4 class="modal-title text-center " id="modal-basic-title" style="padding-left:41% ">Sesiunile mele</h4>
    <button aria-label="Close" class="close " routerLink="/evoting/admin" type="button">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body" style="">

    <div class="modal-header row " style=" padding-top: 10px">
      <h4 class="modal-title text-center" id="modal-basic-title2" style="padding-left:40% ">Create de mine</h4>
    </div>

    <div [ngClass]="{'active': main}" class="modal-body container " style="">
      <div *ngFor="let dynamic of electionsArray;let i = index;" class="row ">
        <div class="container border border-primary mt-3 shadow p-2 pl-3 bg-white rounded ">
          <div class="row ">
            <div class="col   mt-2 font-weight-bold">{{electionsArray[i].title1}}</div>
            <div class="col   mt-2 font-weight-bold">Număr de alegători: {{electionsArray[i].title2}}</div>
            <div class="col   mt-2 font-weight-bold">Număr de candidați: {{electionsArray[i].title4}}</div>
            <div class="col   mt-2 font-weight-bold">Număr de voturi: {{electionsArray[i].title5}}</div>
          </div>
          <div class="row">
            <div class="col mt-2 text-info">Status: {{electionsArray[i].title3}}</div>
          </div>
          <div class="row mt-2">
            <div class="col mt-2 text-danger" *ngIf="electionsArray[i].title3==='Finisat'"><b>Câștigător:</b> <i> {{electionsArray[i].title7}}</i></div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <br>
  </div>

</div>
</body>

<app-footer></app-footer>




