<admin-app-nav></admin-app-nav>
<head>
  <title>Blockchain Visualisation</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body
  style="padding-bottom: 20%; background-image: url('assets/images/Background.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; ">

<div class="supreme-container">
  <br><br>
  <div #main class="container" style="padding-top: 20px; ">
    <div class="modal-header row " style=" padding-top: 10px">
      <h4 class="modal-title text-center" id="modal-basic-title" style="padding-left:35% ">Vizualizarea blockchain</h4>

    </div>
  </div>
  <form [formGroup]="form" style="padding-left:10%; padding-top: 20px; " class="row g-2">
    <h4 class="form-group col-3" >Alege sesiunea de vot</h4>
    <div class="form-group col-4" [formGroup]="form">

      <select   class="form-control bg-light"  id="voting_titles" (change)="update($event)" formControlName="titles">
        <option *ngFor="let title of options" [value]="title">
          {{title}}
        </option>
      </select>
    </div>

  </form>
  <div class="modal-body" style="">

   <div [ngClass]="{'active': main}" class="modal-body container " style="">
      <div *ngFor="let dynamic of blocksArray;let i = index;" class="row ">
        <div *ngIf="blocksArray.length==0">
          <h4 class="form-group col-3" >Nu există blocuri!</h4>
        </div>
        <div class="container border border-primary mt-2 shadow p-2 pl-3 bg-white rounded ">
          <div class="row ">
            <div class="col-3   mt-2 font-weight-bold">Titlul sesiunii de vot: </div>
            <div class="col   mt-2 font-italic">{{blocksArray[i].title1}}</div>

          </div>
          <div class="row ">
          <div class="col-3   mt-2 font-weight-bold">Versiunea: </div>
            <div class="col   mt-2 font-italic">{{blocksArray[i].title3}}</div>
        </div>
          <div class="row ">
            <div class="col-3   mt-2 font-weight-bold">Hash: </div>
            <div class="col   mt-2 font-italic">{{blocksArray[i].title2}}</div>

          </div>
          <div class="row">
            <div class="col-3   mt-2 font-weight-bold">Hash-ul blocului precedent: </div>
            <div class="col   mt-2 font-italic">{{blocksArray[i].title4}}</div>

          </div>
          <div class="row">
            <div class="col-3   mt-2 font-weight-bold">"Merkle Root" Hash: </div>
            <div class="col   mt-2 font-italic">{{blocksArray[i].title5}}</div>

          </div>
          <div class="row">
            <div class="col-3   mt-2 font-weight-bold">Numărul de tranzacții: </div>
            <div class="col   mt-2 font-italic">{{blocksArray[i].title6}}</div>

          </div>
        </div>
      </div>
      <br>
    </div>
    <br>
  </div>


</div>
</body>
