<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img alt="logo" src="assets/images/LOGO.jpg" style="width:60px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav na-e ">
    <li class="nav-item">
      <a class="nav-link text-light" href="#">PRODUSE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">CARACTERISTICI</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">STATISTICA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">AJUTOR</a>
    </li>
    <span class=""></span>

  </ul>


</nav>
<br>
<div class="container" style="width: 70%;padding-top: 20px; border: solid">
  <div class="modal-header" style=" padding-top: 10px">
    <h4 class="modal-title" id="modal-basic-title" style="alignment: center">Înregistrare</h4>
    <button aria-label="Close" class="close" routerLink="/" type="button">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="modal-header" style=" padding-top: 10px">
    <h5 class="modal-title" id="modal-step-title" style="alignment: center">Pasul 1</h5>
  </div>

  <div class="modal-body" style="">
    <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">

      <div class="form-group">
        <label for="full_name">Numele complet</label>
        <input class="form-control" formControlName="full_name" id="full_name" name="full_name" type="text">
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="regEmail">E-mail</label>

          <input class="form-control" formControlName="regEmail"
                 id="regEmail"
                 name="regEmail" type="email">
          <!--          <div *ngIf="f.email.errors" class="invalid-feedback">-->
          <!--            <div *ngIf="f.email.errors.required">Email is required</div>-->
          <!--            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>-->
          <!--          </div>-->
        </div>
        <div class="form-group col">
          <label for="repeatEmail">Repetă E-mail</label>

          <input class="form-control" formControlName="repeatEmail"
                 id="repeatEmail"
                 name="repeatEmail" type="email">
          <!--          <div *ngIf="f.email.errors" class="invalid-feedback">-->
          <!--            <div *ngIf="f.email.errors.email">Provided emails doesn't match</div>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="row">
        <div class="form-group col ">
          <label for="password">Parola</label>

          <input class="form-control" formControlName="password"
                 id="password" name="password" type="password">
          <!--          <div *ngIf=" f.password.errors" class="invalid-feedback">-->
          <!--            <div *ngIf="f.password.errors.required">Password is required</div>-->
          <!--            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>-->
          <!--          </div>-->

        </div>
        <div class="form-group col ">
          <label for="repPassword">Repetă Parola</label>

          <input class="form-control" formControlName="repPassword"
                 id="repPassword" name="repPassword" type="password">
          <!--          <div *ngIf=" f.password.errors" class="invalid-feedback">-->
          <!--            <div *ngIf="f.password.errors.required">Password is required</div>-->
          <!--            <div *ngIf="f.password.errors.match">Provided Passwords don't match</div>-->
          <!--          </div>-->

        </div>
      </div>
      <br>
      <br>
      <div>
        <h6 class="font-weight-bold">Informații personale</h6>
      </div>
      <br>
      <div class="row">
        <div class=" form-group col">
          <label for="birthDate">Data nașterii</label>
          <input class="form-control float-right shadow-sm bg-white rounded" formControlName="birthDate"
                 id="birthDate"

                 type="date">
        </div>
        <div class="col form-group">
          <label for="country">Țară/Regiune</label>
          <input class="form-control float-right shadow-sm bg-white rounded" formControlName="country"
                 id="country"
                 type="text">
        </div>
      </div>

      <div class="row">
        <div class=" form-group col">
          <label for="street">Strada</label>
          <input class="form-control float-right shadow-sm bg-white rounded" formControlName="street"
                 id="street"
                 type="text">
        </div>
        <div class="col form-group">
          <label for="city">Oraș</label>
          <input class="form-control float-right shadow-sm bg-white rounded" formControlName="city"
                 id="city"
                 type="text">
        </div>
      </div>

      <div class="row">
        <div class=" form-group col">
          <label for="workPlace">Locul de muncă</label>
          <input class="form-control float-right shadow-sm bg-white rounded" formControlName="workPlace"
                 id="workPlace"

                 type="text">
        </div>
        <div class="col form-group">
          <label for="phoneNumber">Număr de telefon</label>
          <input class="form-control float-right shadow-sm bg-white rounded" formControlName="phoneNumber"
                 id="phoneNumber"
                 type="number">
        </div>
      </div>

      <div class="row text-center">
        <div class="col form-group">
          <button (click)="show()" class="btn font-weight-bold" routerLinkActive="active"
                  style="background-color: grey; color: white"
                  type="submit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONTINUĂ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button>
        </div>
      </div>
    </form>
  </div>

</div>

<div *ngIf="isFormValid()" [style.display]="showModal ? 'block' : 'none'" aria-hidden="true"
     aria-labelledby="myModalLabel" class="modal" id="imagemodal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center ">
        <h4 class="modal-title text-center" id="myModalLabel">PASUL 2</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div>
            <h5>Pe adresa introdusă de e-mail a fost expediat un mesaj. Confirmați înregistrarea în sistemul EVoting.</h5>
          </div>
        </div>

      </div>


      <div class="modal-body">
        <button (click)="hideModalWithResults()" class="btn btn-info" data-dismiss="modal"
                type="button">FINALIZARE
        </button>
      </div>

    </div>
  </div>
</div>

<div [style.display]="showModalWithResult ? 'block' : 'none'" aria-hidden="true"
     aria-labelledby="myModalLabel" class="modal" id="imagemodal2" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel2">RESULTATE</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div>
            <h5 id="responseHeader"></h5>
          </div>
        </div>

      </div>
      <div class="modal-footer">

        <button (click)="hideModalWithResults()" class="btn btn-danger float-left mr-auto" data-dismiss="modal"
                type="button">FINALIZARE
        </button>

      </div>
    </div>
  </div>
</div>
