<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/images/LOGO.jpg" alt="logo" style="width:60px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav na-e ">
    <li class="nav-item">
      <a class="nav-link text-light" >PRODUCTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" >FEATURES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" >STATISTICS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" >HELP</a>
    </li>
    <span class=""></span>

  </ul>

  <ul class="navbar-nav ml-auto">
    <a class="nav-link text-light" routerLink="login" routerLinkActive="active">LOGIN</a>
    <button id="sign-up" class="nav-link text-dark my-0">SIGN UP</button>
  </ul>

</nav>

<div class="flex:1 1 "
     style="background-image: url('assets/images/Background.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; ">
<!-- Mask & flexbox options-->
  <div class="mask rgba-gradient ">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row ">
        <!--Grid column-->
        <div class="col-md-7 white-text text-center text-md-left mt-xl-5 mb-5 " style=" padding-left: 0px;
    padding-right: 0px;">
          <h1 class="h1-responsive font-weight-bold mt-sm-3">Electronic Voting System</h1>
          <hr class="hr-light">
          <h4 class="h6-responsive mb-5">with a big impact in your life</h4>
          <h6 style="line-height: 30px; ">
            &nbsp; Everyone deserves to be heard, and we are here to promote a modern way to do this.<br>
            &nbsp; We promote a remote way to express our opinion/decision. For this we follow the last technologies to
            secure the user’s options.<br>
            &nbsp; An electronic voting system was developed to achieve this goal. Due to it, the vote is secret, can’t
            be edited, the user’s data is confidential. So, we can express the opinion, but at the same time, we save
            our identity.
          </h6>

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class=" col-5 mt-5 col-md-5" style="padding-right: 0;
    padding-left: 51px;">
          <img src="assets/images/logo_transparent.png" alt="" class="img-fluid">
        </div>
        <div class=" col-5 mt-5 col-md-5" style="padding-right: 0;
    padding-left: 51px;">
          <br>
          <br>
          <br>
        </div>

        <!--Grid column-->
      </div>
    </div>
    <!-- Content -->


  </div>
  <!-- Mask & flexbox options-->

</div>

<div class="flex:1 1 "
     style="">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-gradient ">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row ">
        <!--Grid column-->
        <div class=" col-5 mt-5 col-md-6" style="padding-right: 0;
    padding-left: 51px;">

        </div>

        <div class="col-md-10 white-text text-center text-md-left mt-xl-5 mb-5 " style=" padding-left: 0px;
    padding-right: 0px;">
          <h1 class="h1-responsive font-weight-bold mt-sm-3"></h1>
          <hr class="hr-light">
          <h4 class="h6-responsive mb-5"></h4>
          <h6>
            .
          </h6>

        </div>
        <!--Grid column-->
        <!--Grid column-->


        <!--Grid column-->
      </div>
    </div>
    <!-- Content -->


  </div>
</div>
<!-- Mask & flexbox options-->



<!-- Footer -->
<footer>
  <div class="row text-center">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <p class="text-light text-center copyright">Copyright &copy; 2020 EVoting</p>
    </div>
    <div class="col-md-4">
      <a class="" href="#">
        <img src="assets/images/LOGO.jpg" alt="logo" style="width:60px;">
      </a>
    </div>
  </div>
</footer>
<!-- Footer -->


