<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img alt="logo" src="assets/images/LOGO.jpg"  style="width:60px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav na-e ">
    <li class="nav-item">
      <a class="nav-link text-light" >PRODUSE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" >CARACTERISTICI</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" >STATISTICA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" >AJUTOR</a>
    </li>
    <span class=""></span>

  </ul>

  <ul class="navbar-nav ml-auto">
    <a class="nav-link text-light" routerLink="login" routerLinkActive="active">AUTENTIFICARE</a>
    <button class="nav-link text-dark my-0" id="sign-up" routerLink="register" routerLinkActive="active">ÎNREGISTRARE</button>
  </ul>

</nav>
<section>
<div class="flex:1 1 "
     style="background-image: url('assets/images/Background.png'); background-repeat: no-repeat; background-size: cover; background-position: center center; ">
<!-- Mask & flexbox options-->
  <div class="mask rgba-gradient ">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row ">
        <!--Grid column-->
        <div class="col-md-7 white-text text-center text-md-left mt-xl-5 mb-5 " style=" padding-left: 0px;
    padding-right: 0px;">
          <h1 class="h1-responsive font-weight-bold mt-sm-3">Sistem Electronic de Alegeri</h1>
          <hr class="hr-light">
          <h4 class="h6-responsive mb-5">cu impact pozitiv în viața ta</h4>
          <h6 style="line-height: 30px; ">
            &nbsp; Toată lumea merită să fie auzită și suntem aici pentru a promova un mod actual de a face acest lucru.<br>
            &nbsp; Promovăm modul de a ne exprima opinia / decizia de la distanță. Pentru aceasta, suntem în pas cu ultimele tehnologii pentru a asigura cerințele utilizatorului.<br>
            &nbsp; Un sistem de vot electronic a fost dezvoltat pentru a atinge acest obiectiv. Datorită acestuia, votul este secret, nu poate fi editat, datele utilizatorului sunt confidențiale. Deci, ne putem exprima opinia, dar, în același timp, ne salvăm identitatea.
          </h6>

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class=" col-5 mt-5 col-md-5" style="padding-right: 0;
    padding-left: 51px;">
          <img src="assets/images/logo_transparent.png" alt="" class="img-fluid">
        </div>
        <div class=" col-5 mt-5 col-md-5" style="padding-right: 0;
    padding-left: 51px;">
          <br>
          <br>
          <br>
        </div>

        <!--Grid column-->
      </div>
    </div>
    <!-- Content -->


  </div>
  <!-- Mask & flexbox options-->

</div>

<div class="flex:1 1 "
     style="">
  <!-- Mask & flexbox options-->
  <div class="mask rgba-gradient ">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row ">
        <!--Grid column-->
        <div class=" col-5 mt-5 col-md-6" style="padding-right: 0;
    padding-left: 51px;">

        </div>

        <div class="col-md-10 white-text text-center text-md-left mt-xl-5 mb-5 " style=" padding-left: 0px;
    padding-right: 0px;">
          <h1 class="h1-responsive font-weight-bold mt-sm-3"></h1>
          <hr class="hr-light">
          <h4 class="h6-responsive mb-5"></h4>
          <h6>
            .
          </h6>

        </div>
        <!--Grid column-->
        <!--Grid column-->


        <!--Grid column-->
      </div>
    </div>
    <!-- Content -->


  </div>
</div>
<!-- Mask & flexbox options-->
</section>

<br>
<app-footer></app-footer>


